@import "tailwindcss";

* {
  font-family: Dubai, lato;
  }
#error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
#form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#EyeOff{
display: flex;
align-items: center;
justify-content: center;
}